<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
</head>
<body>
  <% if (locals.user) {%>
    <h1>Hello <%= user.username %></h1>
    <a href="/log-out">LOG OUT</a>
  <% } %>
  <% if (messages) { %>
    <% messages.forEach(message => { %>
      <div class="message">
        <% if (locals.user) { %>
          <p><strong>Username:</strong> <%= message.username %></p>
          <p><strong>Message:</strong> <%= message.text %></p>
          <p><strong>Date:</strong> <%= message.timestamp.toLocaleString() %></p>
        <% } else { %>
          <p><strong>Username:</strong> You need to be <a href="/log-in">Logged in</a> to see username.</p>
          <p><strong>Message:</strong> <%= message.text %></p>
          <p><strong>Date:</strong> <%= message.timestamp.toLocaleString() %></p>
        <% } %>
      </div>
    <% }) %>
  <% } else { %>
    <p>No messages available.</p>
  <% } %>
  <a href="/create-message">Create message</a>
</body>
</html>
